*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* makes it better to change selector box-sizing */
}

html {
  // This defines what 1rem is
  font-size: 62.5%; /* 10px/16px = .625 - this helps user to change overall font-size (for zooming in/out)  */
}

body {
  box-sizing: border-box;
}