*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; /* makes it better to change selector box-sizing */
}

html {
  // This defines what 1rem is
  /* 10px/16px = .625 - this helps user to change overall font-size (for zooming in/out)  */
  font-size: 62.5%; // 1 rem = 10px; 10px/16px = 62.5%


  @include respond(tablet-landscape) { // width < 1200?
    font-size: 56.25%; //.5625 * 16 = 9px: 1 rem = 9px, 9/16 = 56.25%
  };

  @include respond(tablet-port) { // width < 900?
    font-size: 50%; // .8 * 16 = 8px: 1 rem = 8px, 8/16 = 50%
  };

  // @include respond(phone) { 
  //   font-size: 30%; // .3 * 16 = 4.8px: 1 rem = 4.8px
  // };

  @include respond(big-desktop) {
    font-size: 75%; // .75 * 16 = 12px:  1 rem = 12px, 12/16 = 75%
  };
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tablet-port) {
    padding: 0;
  }
}